@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap');

.home-intro p {
  @apply text-2xl font-semibold leading-9;
}

:root {
  font-size: 16px;
}

body {
  background-color: #101820 !important;
  font-family: "Montserrat", sans-serif;
}